.bet {
	@local_positive_colour: @complimentary_colour;
	@local_positive_colour_light: @complimentary_colour_light;
	@local_negative_colour: @feature_colour;
	@local_negative_colour_light: @feature_colour_light;
	@local_alert_colour_light: @supplementary_colour_light;

	background-color: @white;
	padding: 10px;
	border-bottom: dashed 1px @primary_colour;

	.col_33 {
		width: 33%;
	}

	.selectionName {
		font-size: 1.1em;
		font-weight: bold;
		color: @local_positive_colour;
	}
	.selectionBetType {
		.small;
		padding-bottom: 5px;
	}
	.stake, .price, .name {
		input {
			width: 90%;
		}
	}
	.actions {
		float: right;

		.delete {
			color: @local_negative_colour;
			padding: 5px;
			.transition(all 0.5s ease);

			&:hover {
				color: @white;
				background-color: @local_negative_colour;
			}
		}
	}

	.ticketColumns {
		margin-top: 15px;
	}

	.multi {
		.selectionPrice {
			text-align: right;
		}
	}

	.bonusBetContainer {
		padding: 5px 0 5px 0;
	}

	.placementDetails.success,
	.placementDetails.rejectedCombins,
	.placementDetails.partial,
	.placementDetails.rejected {
		background-color: @local_negative_colour_light;
		padding: 5px;
		margin-bottom: 5px;
	}
	.placementDetails.success {
		background-color: @local_positive_colour_light;
	}
	.placementDetails.partial {
		background-color: @local_alert_colour_light;
	}
}