.betslip {
	@local_positive_colour: @complimentary_colour;
	@local_positive_colour_light: @complimentary_colour_light;
	@local_negative_colour: @feature_colour;
	@local_negative_colour_light: @feature_colour_light;
	@local_alert_colour: @supplementary_colour_dark;
	@local_alert_colour_light: @supplementary_colour_light;

	@local_white: @white;
	@local_primary_colour: @primary_colour;
	@local_primary_colour_light: @primary_colour_light;
	@local_primary_colour_dark: @primary_colour_dark;
	@local_border: 1px solid @primary_colour;

	background-color: @local_primary_colour_light;

	button {
		width: 90%;
	}

	.header {
		color: @local_white;
		background-color: @local_primary_colour_dark;
		padding: 10px;
		font-weight: bold;
	}

	.sub_header {
		margin-bottom: 5px;
	}

	.selection {
		margin-bottom: 5px;
	}

	.ticketColumnHeadings {
		background-color: @local_primary_colour;
		line-height: 30px;
		.name {
			padding-left: 10px;
		}
	}

	.buttonText {
		font-size: .8em;
		text-decoration: underline;
		cursor: pointer;
		line-height: 30px;
		margin-top: 30px;
		text-align: center;
	}

	.betslipFooter {
		margin-top: 10px;
		text-align: center;
	}
	.betslipFooter .buttonDelete {
		border-color: @local_primary_colour_dark;
		background-color: @local_primary_colour_light;
		color: @local_primary_colour_dark;
	}

	.betSuccessAccountInfo {
		background-color: @local_positive_colour_light;
		color: @local_positive_colour;
		padding: 10px;
	}

	.validationMessage {
		background-color: @local_alert_colour_light;
		color: @local_alert_colour;
		padding: 10px;
	}
}