
button, .button {
	//Local Variables
	@local_border_radius: 3px;

	@local_default_colour: @supplementary_colour;
	@local_default_colour_light: @supplementary_colour_light;
	@local_default_colour_dark: @supplementary_colour_dark;

	@local_affirmative_colour: @complimentary_colour;
	@local_affirmative_colour_light: @complimentary_colour_light;
	@local_affirmative_colour_dark: @complimentary_colour_dark;

	@local_alternative_colour: @feature_colour;
	@local_alternative_colour_light: @feature_colour_light;
	@local_alternative_colour_dark: @feature_colour_dark;

	@local_negative_colour: @primary_colour_dark;
	@local_negative_colour_light: @primary_colour;
	@local_negative_colour_dark: @primary_colour_dark;



	border: none;
	background-color: @local_default_colour;//@supplementary_colour;
	border-radius: @local_border_radius;
	padding: 5px 10px;
	font-size: 1em;
	font-family: HelveticaNeueBdCn;
	font-weight: bold;
	color: @white;//@secondary_colour_light;
	-webkit-tap-highlight-color: none;
	cursor: pointer;

	&:hover, &:active, &:focus {
		//background-color: @supplementary_colour_light;
		outline: 0;
	}
	&:focus {
		//background-color: @supplementary_colour_dark;
	}

	&:active {
		.button-click-animation(button_color_change_default);
	}
	.button-click-keyframes(button_color_change_default, @local_default_colour, @local_default_colour_light, @local_default_colour_dark);


	&.affirmative { background-color: @local_affirmative_colour; }
	&.affirmative:active {
		.button-click-animation(button_color_change_affirmative);
	}
	.button-click-keyframes(button_color_change_affirmative, @local_affirmative_colour, @local_affirmative_colour_light, @local_affirmative_colour_dark);


	&.alternative { background-color: @local_alternative_colour; }
	&.alternative:active {
		.button-click-animation(button_color_change_alternative);
	}
	.button-click-keyframes(button_color_change_alternative, @local_alternative_colour, @local_alternative_colour_light, @local_alternative_colour_dark);


	&.negative { background-color: @local_negative_colour; }
	&.negative:active {
		.button-click-animation(button_color_change_negative);
	}
	.button-click-keyframes(button_color_change_negative, @local_negative_colour, @local_negative_colour_light, @local_negative_colour_dark);

}