button, .button {
	//Local Variables
	@local_border: 1px solid @local_default_colour_dark;
	@local_border_radius: 3px;

	@local_white: @white;
	@local_black: @black;

	@local_default_colour: @primary_colour;
	@local_default_colour_light: @primary_colour_light;
	@local_default_colour_dark: @primary_colour_dark;

	@local_affirmative_colour: @complimentary_colour;
	@local_affirmative_colour_light: @complimentary_colour_light;
	@local_affirmative_colour_dark: @complimentary_colour_dark;

	@local_alternative_colour: @feature_colour;
	@local_alternative_colour_light: @feature_colour_light;
	@local_alternative_colour_dark: @feature_colour_dark;

	@local_supplementary_colour: @supplementary_colour;
	@local_supplementary_colour_light: @supplementary_colour_light;
	@local_supplementary_colour_dark: @supplementary_colour_dark;

	@local_negative_colour: @primary_colour_dark;
	@local_negative_colour_light: @primary_colour;
	@local_negative_colour_dark: @secondary_colour_dark;


	display: inline-block;
	cursor: pointer;
	color: @local_default_colour_dark;
	border: @local_border;
	background-color: transparent;
	margin: 5px;
	width: 200px;
	height: 35px;
	-webkit-tap-highlight-color: transparent;
	.transition(all 0.25s ease);
	.border-radius(@local_border_radius);

	&:hover, &:active, &:focus {
		outline: 0;
	}

	&:active {
		.button-click-animation(button_color_change_default);
	}
	&:hover { background-color: @local_default_colour_light; }
	.button-click-keyframes(button_color_change_default, none, @local_default_colour, none);


	&.affirmative, &.alternative, &.negative, &.supplementary {
		color: @local_white;
		border-color: @local_white;
	}

	&.affirmative { background-color: @local_affirmative_colour; }
	&.affirmative:hover { background-color: @local_affirmative_colour_dark; }
	&.affirmative:active {
		.button-click-animation(button_color_change_affirmative);
	}
	.button-click-keyframes(button_color_change_affirmative, @local_affirmative_colour, @local_affirmative_colour_dark, @local_affirmative_colour);


	&.alternative { background-color: @local_alternative_colour; }
	&.alternative:hover { background-color: @local_alternative_colour_dark; }
	&.alternative:active {
		.button-click-animation(button_color_change_alternative);
	}
	.button-click-keyframes(button_color_change_alternative, @local_alternative_colour, @local_alternative_colour_dark, @local_alternative_colour);


	&.negative { background-color: @local_negative_colour; }
	&.negative:hover { background-color: @local_negative_colour_dark; }
	&.negative:active {
		.button-click-animation(button_color_change_negative);
	}
	.button-click-keyframes(button_color_change_negative, @local_negative_colour, @local_negative_colour_dark, @local_negative_colour);

	&.supplementary { background-color: @local_supplementary_colour; }
	&.supplementary:hover { background-color: @local_supplementary_colour_dark; }
	&.supplementary:active {
		.button-click-animation(button_color_change_supplementary);
	}
	.button-click-keyframes(button_color_change_supplementary, @local_supplementary_colour, @local_supplementary_colour_dark, @local_supplementary_colour);

	a, a:visited, a:hover, a:active, a:focus {
		display: inline-block;
		color: @local_white;
		padding: 5px;
		width: auto;
		min-width: 80px;
	}
}

button.longest, .button.longest { width: 100%; }
button.long, .button.long { width: 70%; }
button.medium, .button.medium { width: 50%; }
button.short, .button.short {
	width: 95px;
	font-weight: bold;
	.small;
}


/* live betting and quick multi button on homepage and sport */
.live-betting, .quick-multi {
	display: block;
	padding: 10px;
	text-transform: uppercase;

	span, span.arrowWrap span.arrow { color: @local_white; }
	span.title { line-height: 1.8em; }
}