div, .luxInput, div[class^='icheck'], div[class^='iradio'], input {

	/* iCheck plugin flat skin, black
	----------------------------------- */
	.icheckbox_flat,
	.iradio_flat {
		display: inline-block;
		*display: inline;
		vertical-align: middle;
		margin: 0;
		padding: 0;
		width: 20px;
		height: 20px;
		background-color: white;
		border: none;
		cursor: pointer;
		position: relative;
	}

	.icheckbox_flat {
		background-position: 0 0;
		border:solid 2px @complimentary_colour;
		border-radius: 14px;
		position:relative;
	}
	.icheckbox_flat.checked {
		background-color: @complimentary_colour;
	}
	.icheckbox_flat.checked:before{
		content: '\2713';
		color: @white;
		width:100%;
		height:100%;
		position:absolute;
		top: -2px;
		left: -2px;
		text-align:center;
		line-height:20px;
		border: solid 2px @white;
		border-radius: 50%;

	}
	.icheckbox_flat.disabled {
		cursor: default;
	}
	.icheckbox_flat.checked.disabled {

	}

	&.iradio_flat {
		border-radius: 50%;
		border: solid 2px @complimentary_colour;;
	}

	&.iradio_flat.checked {
		background-color: @complimentary_colour;
	}

	&.iradio_flat.checked ins {
		box-sizing: border-box;
		background-color: @complimentary_colour !important;
		border: solid 1px white;
		border-radius: 50%;

		position: relative !important;
		top: 0 !important;
		left: 0 !important;
		display: block;
		width: 100% !important;
		height: 100% !important;
		margin: 0px !important;
		padding: 0px !important;
		border: solid 2px white !important;
		opacity: 1 !important;
	}

	&.input_wrap.negative .iradio_flat {
		border: solid 2px @primary_colour_dark;
	}

	&.input_wrap.negative .iradio_flat.checked ins {
		background-color: @primary_colour_dark !important;
	}


	.iradio_flat.disabled {

		cursor: default;
	}
	.iradio_flat.checked.disabled {

	}



	/* Default */
	&.icheckbox_flat ins {
		background-color: @supplementary_colour !important;
	}
	&.iradio_flat, .iradio_flat.checked {
		border-color: @supplementary_colour !important;
	}
	&.iradio_flat.checked {
		background-color: @supplementary_colour !important;
	}
	&.iradio_flat.checked ins {
		background-color: @supplementary_colour !important;
	}


	/*
	.icheckbox_flat:active ,
	.iradio_flat:active ins{ background-color: @supplementary_colour; }
	*/

	&.iradio_flat:active,
	&.iradio_flat:active ins{
		.button-click-animation(radio_button_select);
	}

	.button-click-keyframes(radio_button_select, @supplementary_colour, @supplementary_colour_light, @supplementary_colour_dark);



	/* affirmative */
	&.affirmative .icheckbox_flat ins {
		background-color: @complimentary_colour !important;
	}
	&.affirmative .iradio_flat, .affirmative .iradio_flat.checked {
		border-color: @complimentary_colour !important;
	}
	&.affirmative .iradio_flat.checked {
		background-color: @complimentary_colour !important;
	}
	&.affirmative .iradio_flat.checked ins {
		background-color: @complimentary_colour !important;
	}


	&.affirmative .iradio_flat:active,
	&.affirmative .iradio_flat:active ins{
		.button-click-animation(radio_button_affirmative_select);
	}

	.button-click-keyframes(radio_button_affirmative_select, @complimentary_colour, @complimentary_colour_light, @complimentary_colour_dark);





	/* negative */
	.negative .icheckbox_flat ins {
		background-color: @primary_colour_dark !important;
	}
	.negative .iradio_flat, .negative .iradio_flat.checked {
		border-color: @primary_colour_dark !important;
	}
	.negative .iradio_flat.checked {
		background-color: @primary_colour_dark !important;
	}
	.negative .iradio_flat.checked ins {
		background-color: @primary_colour_dark !important;
	}


	&.negative .iradio_flat:active,
	&.negative .iradio_flat:active ins{
		.button-click-animation(radio_button_negative_select);
	}

	.button-click-keyframes(radio_button_negative_select, @primary_colour, @primary_colour_light, @primary_colour_dark);







	&.icheckbox_flat:active {
		.button-click-animation(checkbox_color_change_negative);
	}
	.button-click-keyframes(checkbox_color_change_negative, @complimentary_colour, @complimentary_colour_light, @complimentary_colour_dark);



	/* SWITCH */
	.onoffswitch-label { border: solid 2px @white; }
	.onoffswitch-inner:before {
		background-color: @complimentary_colour;
		border: solid 1px @white;
		border-radius: 20px;
	}
	.onoffswitch-inner:after {
		background-color: @primary_colour_dark;
		border: solid 1px @white;
		border-radius: 20px;
		color: @white
	}
	.onoffswitch-switch {
		width: 22px;
		height: 22px;
		border-radius: 50%;
		border: solid 2px @white
	}
	.onoffswitch:active {
		transform: scale(0.97);
	}



	&[type="text"], &[type="number"], &[type="password"], &[type="tel"] {
		border: solid 1px @primary_colour_dark;
		border-radius: 3px;
		padding: 5px;
		&:focus {
			outline: none;
			border-color: @supplementary_colour;
			background-color: @supplementary_colour_light;
		}
		&:active {
			.button-click-animation(textinput_color_change);
		}
		.button-click-keyframes(textinput_color_change, @white, @supplementary_colour_light, @white);

	}
}



/* Example only !!! */
.module .example.radio_buttons {
	display: inline-block;
	padding: 10px;
	//border: solid 1px gray;
	border-radius: 5px;
	box-sizing: border-box;
}
.module .example.radio_buttons .col {
	width: 49%;
	box-sizing: border-box;
	display: inline-block;
	text-align: center;
	float: left;
}
.module .example.radio_buttons label {
	display: block;
	box-sizing: border-box;
}