.luxbet_list_page {
	@local_black: @black;
	@local_white: @white;
	@local_primary: @primary_colour;
	@local_primary_dark: @primary_colour_dark;
	@local_primary_light: @primary_colour_light;
	@local_complimentary: @complimentary_colour;
	@local_complimentary_dark: @complimentary_colour_dark;
	@local_supplementary: @supplementary_colour;

	@local_border: 1px solid @primary_colour;
	@local_height: 45px;
	@local_line_height: 40px;

	overflow: hidden;

	&.with-arrows {
		li .titleWrap {
			padding-right: 40px;
		}
	}

	&.with-icons {
		li .titleWrap {
			padding-left: 55px;
			padding-right: 40px;
			min-height: @local_height;
		}
	}

	.results {
		position: absolute;
		bottom: 5px;
		right: 50px;
		color: @local_supplementary;
	}

	&.detailed {
		li {
			min-height: 50px; //@local_height;
		}
		li a {
			min-height: @local_height;
		}
		li .products {
			margin-left: 50px;
		}
		li .titleWrap {
			padding-top: 5px;
			margin-left: 40px;
		}
		li .titleWrap .title {
			line-height: normal;
		}
		li .arrowWrap .arrow {}
	}
	li {
		color: @local_black;
		background-color: @local_white;
		border-top: @local_border;
		min-height: @local_height;
		position: relative;
		.transition(all 250ms ease);

		&:first-child { border-top: none; }
		&:hover { background-color: @local_primary_light; }
	}
	li a {
		display: block;
		width: 100%;
		height: 100%;
		min-height: @local_height;
		position: relative;
		cursor: pointer;
	}
	li .category-icon {
		width: 1px;
		height: 1px;
		display: block;
		position: absolute;
		left: 0;
		top: 25%;
		bottom: 25%;
		margin: 0 0 0 5px;
		color: @local_primary_dark;
		&:after {
			line-height: 20px;
			width: 40px;
			height: 40px;
		}
	}
	li .icon-cheveron {
		position: absolute;
		left: 0;
		top: 5%;
		bottom: 25%;
		margin: 0 0 0 5px;
		line-height: 0;
	}
	li .arrowWrap {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		height: @local_height;
		width: 35px;
	}
	li .arrowWrap .arrow {
		display: block;
		color: @local_primary;
		height: @local_height;
		width: 35px;
		font-size: @local_line_height;
		line-height: @local_line_height;
		text-align: center;
	}
	li .titleWrap {
		display: block;
		padding-left: 10px;

		.title {
			display: inline-block;
			width: 100%;
			height: 100%;
			overflow: visible;
			text-overflow: ellipsis;
			white-space: pre-wrap;
			box-sizing: border-box;
			vertical-align: middle;
			line-height: @local_line_height;
		}
	}

	li .products {}
	li .products .product {
		background-color: transparent !important;
		color: @local_primary_dark;
		padding-right: 5px;
		.small;

		&:after { content: " | "; }
		&:last-child {
			&:after { content: ""; }
		}
	}

	li:active {
		.list-item-click-animation(list_item_color_change_default);
		.arrowWrap {}
	}
	.list-item-click-keyframes(list_item_color_change_default, @local_white, @local_primary, @local_primary_dark);

	li .eventCountWrap {
		position: absolute;
		top: 0;
		right: 40px;
		bottom: 0;
		height: auto;
		width: 35px;
	}
	li .eventCount.right {
		color: @local_primary_dark;
		position: absolute;
		line-height: @local_line_height;
		display: inline-block;
		width: 35px;
		height: 100%;
		text-align: center;
	}
}