.modal {
	background-color: @black;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: auto;
	width: auto;
	.modal-close-animation(modal_close_keyframes);
	display: none;

	&.open {
		.modal-open-animation(modal_open_keyframes);
		display: block;
	}
}


.modal-close-animation(@animation_name) {
	-webkit-animation: @animation_name 250ms 1 ease-in normal forwards;
	-moz-animation: @animation_name 250ms 1 ease-in normal forwards;
	-ms-animation: @animation_name 250ms 1 ease-in normal forwards;
	-o-animation: @animation_name 250ms 1 ease-in normal forwards;
	animation: @animation_name 250ms 1 ease-in normal forwards;
}
.modal-close-keyframes(modal_close_keyframes, @black, @black, @black);


.modal-open-animation(@animation_name) {
	-webkit-animation: @animation_name 250ms 1 ease-in normal forwards;
	-moz-animation: @animation_name 250ms 1 ease-in normal forwards;
	-ms-animation: @animation_name 250ms 1 ease-in normal forwards;
	-o-animation: @animation_name 250ms 1 ease-in normal forwards;
	animation: @animation_name 250ms 1 ease-in normal forwards;
}
.modal-open-keyframes(modal_open_keyframes, @black, @black, @black);


.modal-open-keyframes(@animation_name, @colour, @colour_light, @colour_dark) {
	@keyframes ~'@{animation_name}' {
		0% { opacity: 0; }
		100% { opacity: 0.7; }
	}
	@-webkit-keyframes ~'@{animation_name}' {
		0% { -webkit-opacity: 0; }
		100% { -webkit-opacity: 0.7; }
	}
	@-moz-keyframes ~'@{animation_name}' {
		0% { -moz-opacity: 0; }
		100% { -moz-opacity: 0.7; }
	}
	@-o-keyframes ~'@{animation_name}' {
		0% { -o-opacity: 0; }
		100% { -o-opacity: 0.7; }
	}
	@-ms-keyframes ~'@{animation_name}' {
		0% { -ms-opacity: 0; }
		100% { -ms-opacity: 0.7; }
	}
}
.modal-close-keyframes(@animation_name, @colour, @colour_light, @colour_dark) {
	@keyframes ~'@{animation_name}' {
		0% { opacity: 0.7; }
		100% { opacity: 0; }
	}
	@-webkit-keyframes ~'@{animation_name}' {
		0% { -webkit-opacity: 0.7; }
		100% { -webkit-opacity: 0; }
	}
	@-moz-keyframes ~'@{animation_name}' {
		0% { -moz-opacity: 0.7; }
		100% { -moz-opacity: 0; }
	}
	@-o-keyframes ~'@{animation_name}' {
		0% { -o-opacity: 0.7; }
		100% { -o-opacity: 0; }
	}

	@-ms-keyframes ~'@{animation_name}' {
		0% { -ms-opacity: 0.7; }
		100% { -ms-opacity: 0; }
	}
}
