// select.less
div.fancy-select {
	color: @white;
}
div.fancy-select select:active + div.trigger {
	color: pink;
}


div.fancy-select select:focus + div.trigger {
	box-shadow: none;
}

div.fancy-select div.trigger {
	background: @primary_colour;
	border: none;
	color: @black;
	font-weight: normal;
	.box-shadow(0 1px 2px rgba(0, 0, 0, 0.2));
}
div.fancy-select div.trigger:after {
	border-top-color: @primary_colour_dark;
	top: 15px;
	color: @primary_colour_dark;
}

div.fancy-select div.trigger.open {
	background: @primary_colour_dark;
	border: none;
	color: @white;
	box-shadow: none;
}

div.fancy-select div.trigger.open:after {
	border-top-color: @white;
}

div.fancy-select ul.options {
	background: @primary_colour;
	border-radius: 4px;
	border-top: none;
	.box-shadow(0 1px 2px rgba(0, 0, 0, 0.2));
	.paperShadow;
}

div.fancy-select ul.options,
div.fancy-select ul.options.open {
	top: 36px;
}

div.fancy-select ul.options.overflowing,
div.fancy-select ul.options.open.overflowing {
	bottom: 40px;
	top:auto;
}

div.fancy-select ul.options li {
	color: @black;
	padding-left: 10px;
	list-style: none;
	font-weight: normal;
}

div.fancy-select ul.options ul {
	list-style-position: outside;
	list-style-image: none;
}
div.fancy-select ul.options h2 {
	color: @black;
	margin-top: 20px;
	margin-left: 10px;
	font-weight: normal;
	.small;
}
div.fancy-select ul.options ul li {
	padding-left: 25px;
	list-style-type: none;
	list-style-position: inside;
	list-style-image: none;
}


div.fancy-select ul.options li.selected {
	background: @primary_colour_light;
	color: @secondary_colour_dark;
}

div.fancy-select ul.options li.hover {
	background: @primary_colour_light;
	color: @primary_colour_dark;
}